#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(253, 202, 60);
    height: 80px;
}
.icon {
    width: 70px;
    height: 70px;  
    display:inline-flex; 
}
.footer {
    border-top : 1px solid rgb(253, 202, 60);
    height : 50px;
    text-align: center;
}
.productos {
    flex: 1;
    margin-top: 30px;
    margin-bottom: 30px;
    display : flex;
    flex-direction: column;
    gap:30px;
}
.producto {
    display : flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
}
.producto .info{
    width: 400px;

}
.producto img {
    width: 150px;
    height: 150px
}
.producto .fav-icon{
    width: 40px;
    height: 30px;
    cursor: pointer;
}

.detalle {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 30px
}

.detalle img {
    margin-top : 30px;
    width: 300px;
    height: 300px;
}